<div ...attributes>
  <div class="pacman">
    <div class="pacman__mouth pacman__mouth-1"></div>
    <div class="pacman__mouth pacman__mouth-2"></div>
    <div class="pacman__ball pacman__ball-0"></div>
    <div class="pacman__ball pacman__ball-1"></div>
    <div class="pacman__ball pacman__ball-2"></div>
    <div class="pacman__ball pacman__ball-3"></div>
  </div>
</div>
