<div class="w-full h-full flex flex-col items-center items-stretch border-box p-4">
  <h1 class="text-center font-bold text-6xl p-4">
    Wilks' Birthday Adventure
  </h1>

  <div class="flex-grow flex flex-col justify-center items-center">
    <LinkToPage
      @page={{@model.nextPage}}
      class="bg-purple-500 font-bold py-4 px-6 rounded text-5xl bg-green-400 border-solid border-white border-4"
    >
      Get Started
    </LinkToPage>
  </div>

  <h1 class="text-center font-bold text-6xl p-4">&nbsp;</h1>
</div>


